<section>
    <div class="contanier mt-5 " style="text-align: center;">
        <h3>Your Order is Confirmed</h3><br>
        <a href="/order-list" type="submit" class="btn btn-primary">Go to Orders</a>

    </div>
</section>